In [28]:
import pandas as pd
from pathlib import Path

In [29]:
def choose_rating(rating):
    if rating >= 7:
        return 1 
    elif rating <= 4:
        return 0
    else:
        return -1

In [30]:
dfs = {}
for imdb_csv in Path("./imdb_reviews").iterdir():
    dfs[imdb_csv.stem.split("_")[-1]] = pd.read_csv(imdb_csv)

In [41]:
final_dfs = []
for k, df in dfs.items():
    print(k, df.shape)
    df['rating_label'] = df['rating'].apply(lambda x: choose_rating(x))
    print(df['rating_label'].value_counts())
    df = df[df['rating_label'] != -1]
    df['year'] = int(k)
    print(len(df))
    filtered_df = []
    for movie, movie_reviews in df.groupby('movie_title'):
        filtered_df.append(movie_reviews.sample(n=min(len(movie_reviews), 10)))
    df = pd.concat(filtered_df)
    print(df.shape)
    final_dfs.append(df)

2018 (54666, 4)
 1    29494
 0    16428
-1     8744
Name: rating_label, dtype: int64
45922

/Users/danilkononykhin/Anaconda/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

(30980, 5)
2019 (59260, 4)
 1    32150
 0    17879
-1     9231
Name: rating_label, dtype: int64
50029
(33111, 5)
2020 (48307, 4)
 1    25760
 0    15077
-1     7470
Name: rating_label, dtype: int64
40837
(26857, 5)
2012 (29690, 4)
 1    16164
 0     8176
-1     5350
Name: rating_label, dtype: int64
24340
(17560, 5)
2013 (33814, 4)
 1    18307
 0     9303
-1     6204
Name: rating_label, dtype: int64
27610
(20165, 5)
2017 (3684, 4)
 1    1988
 0    1031
-1     665
Name: rating_label, dtype: int64
3019
(2006, 5)
2016 (40934, 4)
 1    21798
 0    11872
-1     7264
Name: rating_label, dtype: int64
33670
(23956, 5)
2014 (36223, 4)
 1    19668
 0     9958
-1     6597
Name: rating_label, dtype: int64
29626
(21266, 5)
2015 (37439, 4)
 1    19872
 0    10803
-1     6764
Name: rating_label, dtype: int64
30675
(22009, 5)

In [42]:
final_df = pd.concat(final_dfs)

In [43]:
final_df.reset_index(inplace=True, drop=True)

In [44]:
final_df

,movie_title,review,rating,rating_label,year
0,#Roxy,"An well made movie, geered towards teens but e...",10,1,2018
1,#Roxy,"Imagine every ""movie made for teens by 45 year...",2,0,2018
2,#Roxy,"This was so super cute, with some great one-li...",10,1,2018
3,#Roxy,There is almost nothing that makes this film s...,7,1,2018
4,#Roxy,Cryano Debergerac is one of my all time favori...,8,1,2018
...,...,...,...,...,...
197905,Üç Harfliler 2: Hablis,What a waste of time. Incredibly disappointed ...,1,0,2015
197906,Þrestir,A incredible film with brilliantly executed sh...,9,1,2015
197907,Þrestir,Sparrows is an Icelandic coming of age movie a...,7,1,2015
197908,Þrestir,"Note, my 3/10 stars is mostly based on how muc...",3,0,2015
197909,Þrestir,Sparrows feels like the quintessential coming-...,4,0,2015

In [45]:
final_df['year'].value_counts()

2019    33111
2018    30980
2020    26857
2016    23956
2015    22009
2014    21266
2013    20165
2012    17560
2017     2006
Name: year, dtype: int64

In [46]:
len(final_df)

197910

In [37]:
final_df.rename(columns={'rating_label': 'label', 'review': 'text'}, inplace=True)

In [39]:
# final_df

In [40]:
final_df.to_csv("imdb_new_reviews.csv", index=False)